<h1>
	Reservations

	<button class="btn pull-right" {{action newReservation}}>Neue Reservierung</button>
</h1>

<table class="time_slot_list">
	<thead>
		<tr>
			<th class="status">S</th>
			<th class="date">Datum</th>
			<th class="start">Von</th>
			<th class="end">Bis</th>
			<th class="surgeon">Patient</th>
			<th class="type">OP Typ</th>
			<th class="hospital">Krankenhaus</th>
			<th class="actions"></th>
		</tr>
	</thead>
	<tbody>
		{{#each controller}}
			<tr {{bindAttr class="timeSlot:reserved:free"}} style="height: 40px">
				<td class="status"><i {{bindAttr class="timeSlot:icon-time:icon-leaf"}}</td>

				<td class="date">
					{{#if timeSlot}}
						{{dateOnly timeSlot.start }}
					{{else}}
						-
					{{/if}}
				</td>
				<td class="start">
					{{#if timeSlot}}
						{{timeOnly timeSlot.start }}
					{{else}}
						-
					{{/if}}
				</td>
				<td class="end">
					{{#if timeSlot}}
						{{timeOnly timeSlot.end }}
					{{else}}
						-
					{{/if}}
				</td>
				<td class="surgeon">
					{{ patient.name }}
				</td>
				<td class="type">
					{{ operationType.name }}
				</td>
				<td class="hospital">
					{{#if timeSlot}}
						{{ timeSlot.hospital.name }}
					{{else}}
						-
					{{/if}}
				</td>
				<td style="text-align: right; padding-right: 25px">
					<button class="btn btn-small" {{action deleteReservation this}}>Stornieren</button>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
