<h2>
	Time Slots

	{{#if Hospitality.Auth.user.isHospitalEmployee}}
		<button class="btn pull-right" {{action newTimeSlot}}>Neuer OP-Slot</button>
	{{/if}}
</h2>

<div>
	<h3>Filter</h3>
	<div class="row">
		<div class="span3">
	    <label>Datum</label>
      {{view Ember.TextField type='date' class="input-block-level" valueBinding=controller.filterDate}}
		</div>
		<div class="span2">
	    <label>Von</label>
	    {{view Ember.TextField type='time' class="input-block-level" valueBinding=controller.filterStart}}
		</div>
		<div class="span2">
	    <label>Bis</label>
	    {{view Ember.TextField type='time' class="input-block-level" valueBinding=controller.filterEnd}}
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<label>Status</label>
			{{view Ember.Select viewName="select" class="input-block-level"
          contentBinding="controller.statuses"
          prompt="-"
          selectionBinding="controller.filterStatus"}}
		</div>
		<div class="span3">
			<label>OP-Typ</label>
			{{view Ember.Select viewName="select" class="input-block-level"
          contentBinding="controller.operationTypes"
          optionLabelPath="content.name"
          optionValuePath="content"
          prompt="-"
          selectionBinding="controller.filterOperationType"}}
		</div>
		<div class="span3">
			<label>Krankenhaus</label>
			{{view Ember.Select viewName="select" class="input-block-level"
          contentBinding="controller.hospitals"
          optionLabelPath="content.name"
          optionValuePath="content"
          prompt="-"
          selectionBinding="controller.filterHospital"}}
		</div>
		<div class="span3">
			<label>Arzt</label>
			{{view Ember.Select viewName="select" class="input-block-level"
          contentBinding="controller.doctors"
          optionLabelPath="content.user.name"
          optionValuePath="content"
          prompt="-"
          selectionBinding="controller.filterDoctor"}}
		</div>
	</div>
</div>

<table class="time_slot_list">
	<thead>
		<tr>
			<th class="status">S</th>
			<th class="date">Datum</th>
			<th class="start">Von</th>
			<th class="end">Bis</th>
			<th class="type">OP Typ</th>
			<th class="hospital">Krankenhaus</th>
			<th class="surgeon">Arzt</th>
			{{#if Hospitality.Auth.user.isHospitalEmployee}}
				<th class="patient">Patient</th>
				<th class="actions"></th>
			{{/if}}
		</tr>
	</thead>
	<tbody>
		{{#each controller.filteredTimeSlots}}
			<tr style="height: 40px" {{bindAttr class="operation:reserved:free"}}>
				<td class="status"><i {{bindAttr class="operation:icon-time:icon-leaf"}}</td>
				<td class="date">{{dateOnly start }}</td>
				<td class="start">{{timeOnly start }}</td>
				<td class="end">{{timeOnly end }}</td>
				<td class="type">{{ operationType.name }}</td>
				<td class="hospital">{{ hospital.name }}</td>
				<td class="surgeon">{{ operation.doctor.user.name }}</td>
				{{#if Hospitality.Auth.user.isHospitalEmployee}}
					<td class="patient">{{ operation.patient.user.name }}</td>
					<td style="text-align: right; padding-right: 25px">
						{{#unless operation}}
							<button class="btn btn-small" {{action deleteTimeSlot this}}>Stornieren</button>
						{{/unless}}
					</td>
				{{/if}}
			</tr>
		{{/each}}
	</tbody>
</table>
