<h1>Reservierungen</h1>

<table class="time_slot_list">
	<thead>
		<tr>
			<th class="status">S</th>
			<th class="date">Datum</th>
			<th class="start">Von</th>
			<th class="end">Bis</th>
			<th class="surgeon">Patient</th>
			<th class="type">OP Typ</th>
			<th class="hospital">Krankenhaus</th>
		</tr>
	</thead>
	<tbody>
		{{#each controller}}
			<tr {{bindAttr class="operation:reserved:free"}}>
				<td class="status"><i {{bindAttr class="operation:icon-time:icon-leaf"}}</td>
				<td class="date">{{dateOnly start }}</td>
				<td class="start">{{timeOnly start }}</td>
				<td class="end">{{timeOnly end }}</td>
				<td class="surgeon">{{ patient.name }}</td>
				<td class="type">{{ operationType.name }}</td>
				<td class="hospital">{{ hospital.name }}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
